@@include('../partials/header.html')

<main class="about">
    <section class="company">
        <div class="wrapper">
            <h1>
                «Компания Принта» - профессиональный
                подход в области цифровой полиграфии
            </h1>
            <p>
                «Компания Принта» создана единомышленниками
                в области цифровой печати в 2012 году.
            </p>
            <div class="company_container">
                <div class="company_container-img">
                    <img src="../../static/img/about-banner.png" alt="">
                </div>
                <div class="company_container-text">
                    <h2>
                        Основные наши компетенции расположены
                        в сегменте профессионального оборудования
                        XEROX / FujiFilm
                    </h2>
                    <p>
                        Наша компания обладает всем необходимым
                        для оперативного решения задач любой сложности:
                    </p>
                    <ul>
                        <li>- свой штат аналитиков и инженеров</li>
                        <li>- лицензионное диагностическое оборудование от производителя</li>
                        <li>- свой склад в Москве оригинальных расходных и ресурсных материалов</li>
                        <li>- наличие домазала в Москве с новым печатным оборудованием FujiFim</li>
                        <li>- прямые поставки техники, бумаги и расходных материалов с заводов производителей:
                            Xerox США и FujiFilm Япония
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="delivery">
        <div class="wrapper">
            <h2>
                Доставка и оплата
            </h2>
            <div class="delivery_container">
                <div class="delivery_container-block">
                    <div class="delivery_container-info">
                        <img src="../../static/img/ticket.svg" alt="">
                        Способы оплаты:
                    </div>
                    <ul>
                        <li>Безналичный расчет с НДС</li>
                        <li>Любые формы оплаты для юрлиц и ИП</li>
                        <li>Возможность оплаты по договору</li>
                        <li>Гибкие условия предоплаты на редкие позиции</li>
                        <li>Возможность покупки в лизинг и возврат НДС</li>
                    </ul>
                </div>
                <div class="delivery_container-block">
                    <div class="delivery_container-info">
                        <img src="../../static/img/ticket.svg" alt="">
                        Важная информация:
                    </div>
                    <ul>
                        <li>Все ресурсные и расходные материалы на складе в Москве</li>
                        <li>Срок поставки на заказные з/ч до 45-ти дней</li>
                        <li>Возможность размещения заказа на заводе производителя редких&nbsp;заказных з/ч</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="cards">
        <div class="wrapper">
          <h2>
              Доставка по всей России и СНГ
          </h2>
            <p>
                Мы быстро и безопасно доставляем
                оборудование, расходные материалы
                и запчасти по всей территории России
                и в страны СНГ
            </p>
            <div class="cards_container">
                <div class="cards_container-element">
                    <img src="../../static/img/card_1.svg" alt="">
                    <p>
                        По Москве и Московской области:
                        Доставка&nbsp;курьером — от 1000 ₽
                    </p>
                </div><div class="cards_container-element">
                <img src="../../static/img/card_2.svg" alt="">
                <p>
                    Самовывоз со <br> склада — бесплатно
                </p>
            </div><div class="cards_container-element">
                <img src="../../static/img/card_3.svg" alt="">
                <p>
                    В регионы России: Бесплатная доставка до
                    терминала транспортной компании (СДЭК,
                    Деловые Линии, ПЭК, Байкал-Сервис и др.)
                </p>
            </div><div class="cards_container-element">
                <img src="../../static/img/card_4.svg" alt="">
                <p>
                    Отправка в день оплаты (при наличии товара на складе)
                </p>
            </div><div class="cards_container-element">
                <img src="../../static/img/card_5.svg" alt="">
                <p>
                    В страны СНГ: Отправка через ТК, сопровождение документов
                </p>
            </div><div class="cards_container-element">
                <img src="../../static/img/card_6.svg" alt="">
                <p>
                    Помощь в оформлении специальной разрешительной
                    документации и сертификатов при необходимости
                </p>
            </div>
            </div>

        </div>
    </section>
</main>

@@include('../partials/footer.html')