@@include('../partials/header.html')

<main class="blog">
    <section>
        <div class="wrapper">
            <h1>
                Блог
            </h1>
            <div class="blog_container">
                <div class="blog_container-card">
                    <div class="blog_container-img">
                        <img src="../../static/img/blog_img_1.png" alt="">
                    </div>
                    <div class="blog_container-text">
                        <p class="blog_container-name">
                            Revoria Press или Konica / Ricoh? Сравниваем по делу
                        </p>
                        <p class="blog_container-desc">
                            Fujifilm Revoria — это выбор тех, кто ценит
                            стабильность, качество и долгосрочную эффективность.
                            Да, техника стоит немного дороже. Но это — не лишние
                            траты, а инвестиция в надёжный результат
                        </p>
                    </div>
                </div>
                <div class="blog_container-card">
                    <div class="blog_container-img">
                        <img src="../../static/img/blog_img_1.png" alt="">
                    </div>
                    <div class="blog_container-text">
                        <p class="blog_container-name">
                            Revoria Press или Konica / Ricoh? Сравниваем по делу
                        </p>
                        <p class="blog_container-desc">
                            Fujifilm Revoria — это выбор тех, кто ценит
                            стабильность, качество и долгосрочную эффективность.
                            Да, техника стоит немного дороже. Но это — не лишние
                            траты, а инвестиция в надёжный результат
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@@include('../partials/footer.html')