@@include('../partials/header.html')



<main class="card">
    <section class="product">
        <div class="wrapper">
            <div class="product_row">
                <div class="product_row-first">
                    <h2>
                        Каталог
                    </h2>
                    <div class="product_container">
                        <div class="product_container-menu">
                            <p>
                                ПЕЧАТНАЯ ТЕХНИКА
                            </p>
                            <ul>
                                <li>Revoria Press SC170</li>
                                <li>Revoria Press E1100</li>
                                <li>Revoria Press SC285 (Новинка)</li>
                                <li>Revoria Press EC1100</li>
                                <li>Revoria Press PC1120</li>
                            </ul>
                        </div>
                        <div class="technic_container-menu">
                            <p>
                                РАСХОДНЫЕ МАТЕРИАЛЫ / ЗАПЧАСТИ
                            </p>
                            <p class="subtitle">
                                XEROX / FujiFilm полноцветные
                            </p>
                            <ul>
                                <li>AltaLink C8030/35/45/55/70</li>
                                <li>AltaLink C8130/35/45/55/70</li>
                                <li>Color 550/560/570</li>
                                <li>Color С60/С70</li>
                                <li>PrimeLink C9065/9070</li>
                                <li>Digital Color Press 700/770</li>
                                <li>Color Press С75/J75</li>
                                <li>Versant 80/180/280</li>
                                <li>Revoria Press SC170</li>
                                <li>Versant 2100/3100/4100</li>
                                <li>Revoria Press ES1100</li>
                                <li>Color DC800/1000</li>
                                <li>Iridesse Production Press</li>
                                <li>Revoria Press PS1120</li>
                            </ul>
                        </div>
                        <div class="technic_container-menu">
                            <p>
                                XEROX / FujiFilm монохромные
                            </p>
                            <ul>
                                <li>AltaLink B8045/55/65/75/90</li>
                                <li>AltaLink B8145/8155/8170</li>
                                <li>D95/D110/D125/D136</li>
                                <li>PrimeLink B9100/В9110/В9125/В9136</li>
                                <li>Revoria Press E1100/Е1110/Е1125/Е1136</li>
                                <li>Nuvera 100/120/144/157/288/314</li>
                            </ul>
                        </div>
                        <div class="technic_container-menu">
                            <p>
                                XEROX инженерные системы
                            </p>
                            <ul>
                                <li>Xerox 6204 EP / MF</li>
                                <li>Xerox 6604 / 6605</li>
                                <li>Xerox 6279</li>
                                <li>Xerox 6622</li>
                            </ul>
                        </div>
                        <div class="technic_container-menu">
                            <p>
                                БУМАГА
                            </p>
                            <ul>
                                <li>Бумаги офисные</li>
                                <li>Бумаги для цифровой печати</li>
                                <li>Специальные материалы для цифровой печати</li>
                                <li>Бумаги для широкоформатной печати</li>
                                <li>Бумаги для инженерной печати</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product_row-second">
                    <div class="direction">
                        <p>
                            Главная
                        </p>
                        <img src="../../static/img/card_direction.svg" alt="">
                        <p>
                            Расходные материалы
                        </p>
                        <img src="../../static/img/card_direction.svg" alt="">
                        <p>
                            Xerox 5065/5365P
                        </p>
                    </div>
                    <div class="layout">
                        <p>
                            Масло фьюзерное Xerox 008R07618_01 для 1065/5065/5365 (1 бут.)
                        </p>
                        <div class="description">
                            <img src="../../static/img/product_card.png" alt="">
                            <div class="info">
                                <p class="name">
                                    Масло фьюзерное Xerox 008R07618_01 для 1065/5065/5365
                                </p>
                                <ul>
                                    <li>Производитель: Xerox</li>
                                    <li>Код производителя: 008R07618_01</li>
                                    <li>Дополнительные коды производителя: 008R07618, 008R04077, 008R07646</li>
                                </ul>
                                <p class="coast">
                                    10570 ₽
                                </p>
                            </div>
                        </div>
                        <div class="basket">
                            <input type="number" value="1" />
                            <button class="to-cart">
                                В корзину
                            </button>
                        </div>
                    </div>
                    <div class="container">
                        <div class="container_story">
                            <p>
                                Описание
                            </p>
                            <span>
                                Масло фьюзерное Xerox 008R07618_01
                                для 1065/5065/5365 (1 бут.) незаменимая
                                деталь для профессиональной техники,
                                купить которую можно за 10570 ₽,
                                оформив товар через корзину или оставив
                                заявку на обратный звонок на нашем сайте.
                            </span>
                        </div>
                        <div class="container_specification">
                            <p class="title">
                                Технические характеристики
                            </p>
                            <p>
                                Ниже предоставлены основные характеристики:
                            </p>
                            <span>
                                Производитель: Xerox  <br> Код
                                производителя: 008R07618_01  <br> Дополнительные
                                коды производителя: 008R07618, 008R04077,
                                008R07646
                            </span>
                        </div>
                        <div class="container_ship">
                            <p>
                                Доставка
                            </p>
                            <span>
                                При оплате в первой
                                половине дня доставка товара
                                возможна во второй половине того
                                же дня, при оплате во второй половине
                                дня доставка товара возможна в первой
                                половине следующего рабочего дня
                            </span>
                        </div>
                        <div class="container_payment">
                            <p>
                                Оплата
                            </p>
                            <ul>
                                <li>
                                    По безналичному расчету (с НДС).
                                </li>
                                <li>
                                    По безналичному расчету (без НДС).
                                </li>
                                <li>
                                    Расчет с курьером по факту доставки товара
                                    (только Москва и Петербург).
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@@include('../partials/footer.html')