@@include('../partials/header.html')

<main class="paper">
    <section class="catalog">
        <div class="wrapper">
            <div class="catalog_row">
                <div class="catalog_row-first">
                    <h2>
                        Каталог
                    </h2>
                    <div class="catalog_container">
                        <div class="catalog_container-text">
                            <p>
                                ПЕЧАТНАЯ ТЕХНИКА
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        Revoria Press SC170
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press E1100
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press SC285 (Новинка)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press EC1100
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press PC1120
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>




                </div>
            </div>
        </div>
    </section>
</main>

@@include('../partials/footer.html')