@@include('../partials/header.html')

<main class="paper">
    <section class="catalog">
        <div class="wrapper">
            <div class="catalog_row">
                <div class="catalog_row-first">
                    <h2>
                        Каталог
                    </h2>
                    <div class="catalog_container">
                        <div class="catalog_container-text">
                            <p>
                                ПЕЧАТНАЯ ТЕХНИКА
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        Revoria Press SC170
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press E1100
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press SC285 (Новинка)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press EC1100
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press PC1120
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog_container-text">
                            <p>
                                РАСХОДНЫЕ МАТЕРИАЛЫ / ЗАПЧАСТИ
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        XEROX / FujiFilm полноцветные
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        XEROX / FujiFilm монохромные
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        XEROX инженерные системы
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog_container-text">
                            <p>
                                БУМАГА
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        Бумаги офисные
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Бумаги для цифровой печати
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Специальные материалы для цифровой печати
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Бумаги для широкоформатной печати
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Бумаги для инженерной печати
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="catalog_row-second">
                    <h1>
                        Бумага для офисной, цифровой
                        и инженерной печати
                    </h1>
                    <p>
                        Более 1000 видов разных бумаг
                        для цифровой, инженерной и струной
                        печати. Вся бумага имеет заводской рез,
                        упаковку и сертификацию завода производителя
                    </p>
                    <div class="catalog_cards">
                        <a href="#" class="catalog_cards-element">
                            <img src="../../static/img/catalog_cards_element.png" alt="">
                            <div class="text">
                                <p>
                                    Бумаги офисные
                                </p>
                            </div>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                        <a href="#" class="catalog_cards-element">
                            <img src="../../static/img/catalog_cards_element_2.png" alt="">
                            <p>
                                Бумаги для цифровой печати
                            </p>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                        <a href="#" class="catalog_cards-element">
                            <img src="../../static/img/catalog_cards_element_3.png" alt="">
                            <p>
                                Специальные материалы для цифровой печати
                            </p>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                        <a href="#" class="catalog_cards-element">
                            <img src="../../static/img/catalog_cards_element_4.png" alt="">
                            <p>
                                Бумаги для широкоформатной печати
                            </p>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                        <a href="#" class="catalog_cards-element">
                            <img src="../../static/img/catalog_cards_element_5.png" alt="">
                           <div class="text">
                               <p>
                                Бумаги для инженерной печати
                                </p>
                           </div>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@@include('../partials/footer.html')