@@include('../partials/header.html')

<main class="printers">
    <section class="technic">
        <div class="wrapper">
            <div class="technic_row">
                <div class="technic_row-first">
            <h2>
                Каталог
            </h2>
            <div class="technic_container">
                <div class="technic_container-printer">
                    <p>
                        ПЕЧАТНАЯ ТЕХНИКА
                    </p>
                    <ul>
                        <li>Revoria Press SC170</li>
                        <li>Revoria Press E1100</li>
                        <li>Revoria Press SC285 (Новинка)</li>
                        <li>Revoria Press EC1100</li>
                        <li>Revoria Press PC1120</li>
                    </ul>
                </div>
                <div class="technic_container-printer">
                    <p>
                        РАСХОДНЫЕ МАТЕРИАЛЫ / ЗАПЧАСТИ
                    </p>
                    <ul>
                        <li>XEROX / FujiFilm полноцветные</li>
                        <li>XEROX / FujiFilm монохромные</li>
                        <li>XEROX инженерные системы</li>
                        <li>Revoria Press EC1100</li>
                        <li>Revoria Press PC1120</li>
                    </ul>
                </div>
                <div class="technic_container-printer">
                    <p>
                        БУМАГА
                    </p>
                    <ul>
                        <li>Бумаги офисные</li>
                        <li>Бумаги для цифровой печати</li>
                        <li>Специальные материалы для цифровой печати</li>
                        <li>Бумаги для широкоформатной печати</li>
                        <li>Бумаги для инженерной печати</li>
                    </ul>
                </div>
            </div>
                </div>
                <div class="technic_row-second">
                    <h1>
                        Модельный ряд Fujifilm Revoria Press
                    </h1>
                    <p>
                        Цифровые печатные машины для задач
                        любой сложности — от офисной&nbsp;до&nbsp;промышленной
                        печати. Новое оборудование,
                        в заводской <br> упаковке, с гарантией 12
                        месяцев и полной сервисной поддержкой.
                    </p>
                    <div class="technic_cards">
                        <a href="#" class="technic_cards-element">
                            <img src="../../static/img/printers_card.png" alt="">
                            <p>
                                Тонер универсальный для BROTHER (HG 391)(750 г.)
                            </p>
                            <p class="coast">
                                990 руб. /шт
                            </p>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                        <a href="#" class="technic_cards-element">
                            <img src="../../static/img/printers_card.png" alt="">
                            <p>
                                Тонер универсальный для BROTHER (HG 391)(750 г.)
                            </p>
                            <p class="coast">
                                990 руб. /шт
                            </p>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                        <a href="#" class="technic_cards-element">
                            <img src="../../static/img/printers_card.png" alt="">
                            <p>
                                Тонер универсальный для BROTHER (HG 391)(750 г.)
                            </p>
                            <p class="coast">
                                990 руб. /шт
                            </p>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                        <a href="#" class="technic_cards-element">
                            <img src="../../static/img/printers_card.png" alt="">
                            <p>
                                Тонер универсальный для BROTHER (HG 391)(750 г.)
                            </p>
                            <p class="coast">
                                990 руб. /шт
                            </p>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                        <a href="#" class="technic_cards-element">
                            <img src="../../static/img/printers_card.png" alt="">
                            <p>
                                Тонер универсальный для BROTHER (HG 391)(750 г.)
                            </p>
                            <p class="coast">
                                990 руб. /шт
                            </p>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                        <a href="#" class="technic_cards-element">
                            <img src="../../static/img/printers_card.png" alt="">
                            <p>
                                Тонер универсальный для BROTHER (HG 391)(750 г.)
                            </p>
                            <p class="coast">
                                990 руб. /шт
                            </p>
                            <div class="all">
                                <p>
                                    Подробнее
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@@include('../partials/footer.html')