@@include('../partials/header.html')

<main class="support">
    <section class="service">
        <div class="wrapper">
            <div class="service_row">
                <h1>
                    Сервис и техническая поддержка
                </h1>
                <p>
                    Полное сопровождение на всех
                    этапах работы с оборудованием
                    FujiFilm и Xerox
                </p>
                <span>
                    Мы не просто продаём печатное
                    оборудование — мы обеспечиваем
                    его стабильную работу на ваших площадках
                </span>
                <div class="service_container">
                   <div class="service_container-text">
                       <p>
                           Что входит в сервис:
                       </p>
                       <ul>
                           <li>Установка оборудование на территории Заказчика</li>
                           <li>Ввод в эксплуатацию и настройка под <br> индивидуальные задачи Пользователя</li>
                           <li>Обучение операторов ЦПМ</li>
                       </ul>
                   </div>
                    <div class="service_row_container-img">
                        <img src="../../static/img/support_img_1.png" alt="">
                    </div>

                </div>
                <div class="service_container">
                    <div class="service_container-text">
                        <p>
                            Обучение операторов печати*
                        </p>
                        <span>
                            <b> В процессе обучения показываем:</b>
                        </span>
                        <ul>
                            <li>Полный цикл работы на машине</li>
                            <li>Как заменять расходные материалы</li>
                            <li>Как контролировать качество печати</li>
                            <li>Как решать типовые задачи и ошибки</li>
                        </ul>
                    </div>
                    <div class="service_row_container-img">
                        <img src="../../static/img/support_img_2.png" alt="">
                    </div>

                </div>
                <div class="service_container">
                    <div class="service_container-text">
                        <p>
                            Техническая поддержка
                        </p>
                        <ul>
                            <li>Поддержка пользователя on-line (телефон, wp, Tg)</li>
                            <li>Преактивный сервис -  On-line мониторинг</li>
                            <li>Выезд на территорию Заказчика для устранения <br> инцидента</li>
                        </ul>
                    </div>
                    <div class="service_row_container-img">
                        <img src="../../static/img/support_img_3.png" alt="">
                    </div>

                </div>
                <div class="service_container">
                    <div class="service_container-text">
                        <p>
                            Гарантия
                        </p>
                        <ul>
                            <li>На все поставляемое оборудование
                                наша Компания Принта <br> совместно с
                                заводами производителей «FujiFilm»
                                и «Xerox» - <br> <b>предоставляет гарантию
                                12 месяцев</b>
                            </li>
                            <li>
                                Гибкий подход по индивидуальные задачи Заказчика
                            </li>
                            <li>Мы используем только оригинальные расходные материалы
                                и <br> запчасти на прямую от заводов производителей «FujiFilm»
                                и «Xerox»
                            </li>
                            <li>
                                Есть партнерская сеть сервисных центров по всей РФ
                            </li>
                        </ul>
                    </div>
                    <div class="service_row_container-img">
                        <img src="../../static/img/support_img_4.png" alt="">
                    </div>

                </div>
                <div class="service_container">
                    <div class="service_container-text">
                        <p>
                            Виды сервисного обслуживания
                        </p>
                        <ul>
                            <li>
                                <b>«Покопийное обслуживание»</b>
                                - оплата за фактическую печать, <br> все
                                расходные материалы и з/ч
                                поставляются бесплатно
                            </li>
                            <li>
                                <b>«Регламентное обслуживание»</b>
                                - инженер приезжает на <br> профилактики
                                и замены ресурсных элементов и з/ч
                            </li>
                            <li>
                                <b>«Обслуживание по инцидентам»</b> - инженер
                                приезжает по <br> инцидентам
                            </li>
                        </ul>
                    </div>
                    <div class="service_row_container-img">
                        <img src="../../static/img/support_img_5.png" alt="">
                    </div>

                </div>
            </div>
        </div>
</main>
@@include('../partials/footer.html')