@@include('../partials/header.html')

<main class="xerox">
    <section class="catalog">
        <div class="wrapper">
            <div class="catalog_row">
                <div class="catalog_row-first">
                    <h2>
                        Каталог
                    </h2>
                    <div class="catalog_container">
                        <div class="catalog_container-text">
                            <p class="title">
                                ПЕЧАТНАЯ ТЕХНИКА
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        Revoria Press SC170
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press E1100
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press SC285 (Новинка)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press EC1100
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press PC1120
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog_container-text">
                            <p class="title">
                                РАСХОДНЫЕ МАТЕРИАЛЫ / ЗАПЧАСТИ
                            </p>
                            <p class="subtitle">
                                XEROX / FujiFilm полноцветные
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        AltaLink C8030/35/45/55/70
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        AltaLink C8130/35/45/55/70
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Color 550/560/570
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Color С60/С70
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        PrimeLink C9065/9070
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Digital Color Press 700/770
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Color Press С75/J75
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Versant 80/180/280
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press SC170
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Versant 2100/3100/4100
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press ES1100
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Color DC800/1000
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Iridesse Production Press
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press PS1120
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog_container-text">
                            <p class="title">
                                XEROX / FujiFilm монохромные
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        AltaLink B8045/55/65/75/90
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        AltaLink B8145/8155/8170
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        D95/D110/D125/D136
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        PrimeLink B9100/В9110/В9125/В9136
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Revoria Press E1100/Е1110/Е1125/Е1136
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Nuvera 100/120/144/157/288/314
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog_container-text">
                            <p class="title">
                                XEROX инженерные системы
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        Xerox 6204 EP / MF
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Xerox 6604 / 6605
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Xerox 6279
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Xerox 6622
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog_container-text">
                            <p class="title">
                                БУМАГА
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        Бумаги офисные
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Бумаги для цифровой печати
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Специальные материалы для цифровой печати
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Бумаги для широкоформатной печати
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Бумаги для инженерной печати
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="catalog_row-second">
                    <div class="breadcrumbs">
                        <p>
                            Главная
                        </p>
                        <img src="../../static/img/card_direction.svg" alt="">
                        <p>
                            Расходные материалы
                        </p>
                        <img src="../../static/img/card_direction.svg" alt="">
                        <p>
                            Xerox 5065/5365P
                        </p>
                    </div>
                    <div class="cards">
                        <div class="cards-element">
                        <a href="#" class="img">
                            <img src="../../static/img/img.png" alt="">
                        </a>
                        <a href="#" class="description">
                            <p class="name">
                                Масло фьюзерное Xerox 008R07618
                            </p>
                            <p class="cost">
                                10570 ₽
                            </p>
                        </a>
                        <a href="#" class="all">
                            Подробнее
                        </a>
                        <button>
                            В корзину
                        </button>
                        </div>
                        <div class="cards-element">
                            <a href="#" class="img">
                                <img src="../../static/img/img.png" alt="">
                            </a>
                            <a href="#" class="description">
                                <p class="name">
                                    Масло фьюзерное Xerox 008R07618
                                </p>
                                <p class="cost">
                                    10570 ₽
                                </p>
                            </a>
                            <a href="#" class="all">
                                Подробнее
                            </a>
                            <button>
                                В корзину
                            </button>
                        </div>
                        <div class="cards-element">
                            <a href="#" class="img">
                                <img src="../../static/img/img.png" alt="">
                            </a>
                            <a href="#" class="description">
                                <p class="name">
                                    Масло фьюзерное Xerox 008R07618
                                </p>
                                <p class="cost">
                                    10570 ₽
                                </p>
                            </a>
                            <a href="#" class="all">
                                Подробнее
                            </a>
                            <button>
                                В корзину
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@@include('../partials/footer.html')