.blog{

  section{
    padding-bottom: rem(127);
  }

  h1{
    color: #000;
    font-family: $base-ff;
    font-size: rem(49);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: rem(38);
  }

  &_container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: rem(36);
      gap: rem(10) rem(10);

    img{
      width: 100%;
      height: rem(344);
    }

    &-card{
      width: 49%;
    }

    &-name{
      color: #000;
      font-family: $base-ff;
      font-size: rem(19);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: rem(19);
    }

    &-desc{
      color: #000;
      font-family: $base-ff;
      font-size: rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: rem(6);
    }
  }
}