.card{
  .product{
    padding-bottom: rem(710);

    &_container{
      display: flex;
      flex-direction: column;
      gap: rem(34);

    }

    &_row{
      display: flex;
      gap: rem(43);


      &-first{
        max-width: rem(425);
        width: 100%;


        h2{

          color: #000;
          font-family: $base-ff;
          font-size: rem(36);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          margin-top: rem(4);
        }

        p{
          color: #000;
          font-family: $base-ff;
          font-size: rem(19);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: rem(16);
        }

        .subtitle{
          margin-top: rem(2);
        }

        ul{
          color: #000;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: rem(5);
          margin-left: rem(2);


          li{
            list-style: disc;
          }
        }

      }
      &-second{
        margin-top: rem(45);


        .direction{
          display: flex;
          align-items: center;
          gap: rem(13);

          p{
            color: #C1C1C4;
            font-family: $base-ff;
            font-size: rem(15);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
          }

          img{
            width: rem(16);
            height: rem(16);
          }


        }

        .layout{


          p{
            color: #000;
            font-family: $base-ff;
            font-size: rem(19);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .description{
            display: flex;

            .info{
              margin-top: rem(34);

              img{

              }

              .name{
                color: #000;
                font-family: $base-ff;
                font-size: rem(19);
                font-style: normal;
                font-weight: 700;
                line-height: normal;

              }

              ul {
                margin-top: rem(5);
                li {
                  color: #000;
                  font-family: $base-ff;
                  font-size: rem(16);
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }

              }

              .coast {
                margin-top: rem(10);
                color: #000;
                font-family: $base-ff;
                font-size: rem(33);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }

            }

          }

          .basket{
            display: flex;
            gap: rem(19);
            margin-top: rem(26);

            input{
              width: rem(113);
              height: rem(54);
              background: #ECECED;
              color: #000;
              text-align: center;
              font-family: $base-ff;
              font-size: rem(25);
              font-style: normal;
              font-weight: 400;
              line-height: normal;

            }

            .to-cart{
              display: flex;
              width: rem(586);
              padding: rem(16) rem(20);
              justify-content: center;
              align-items: center;
              gap: rem(10);
              background: #231F20;
              color: #FFF;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        .container{
              margin-top: rem(34);
          flex-direction: column;
              display: flex;
              gap: rem(34);


          &_story{
            display: flex;
            flex-direction: column;
            gap: rem(9);

            p{
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              margin-bottom: rem(5);
            }

            span{
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }

          &_specification{
            display: flex;
            flex-direction: column;
            gap: rem(9);

            .title{
              color: #000;
              font-family: $base-ff;
              font-size: rem(19);
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }

            p{
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              margin-bottom: rem(5);
            }

            span{
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }

          &_ship{
            display: flex;
            flex-direction: column;
            gap: rem(9);

            p{
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              margin-bottom: rem(5);
            }

            span{
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }


          }

          &_payment{
            display: flex;
            flex-direction: column;
            gap: rem(9);

            p{
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              margin-bottom: rem(5);

            }

            ul{

              li{
                color: #000;
                font-family: $base-ff;
                font-size: rem(16);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                list-style: disc;
                margin-left: rem(20);
              }
            }
          }
        }
      }
    }
  }
}