.support{

  .service{
    padding-bottom: rem(92);


    &_row{

      h1{
        margin-top: rem(38);
        color: #000;
        font-family: $base-ff;
        font-size: rem(49);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }


      p{
        margin-top: rem(05);
        margin-bottom: rem(10);
        color: #000;
        font-family: $base-ff;
        font-size: rem(19);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }


      span{
        color: #000;
        font-family: $base-ff;
        font-size: rem(16);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

      }



    }

    &_container{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-top: rem(24);
      flex-direction: row;
      gap: rem(38);

      &:nth-child(odd){
        flex-direction: row-reverse;
      }

      &-text{
        max-width: rem(600);

        p{
          color: #000;
          font-family: $base-ff;
          font-size: rem(25);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: rem(5);
          margin-top: 0;
        }

        ul{
          margin-left: rem(20);
          li{
            color: #000;
            font-family: $base-ff;
            font-size: rem(16);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            list-style: disc;
          }
        }
      }

      &_img{
        width: rem(572);
        height: rem(344);
      }
    }
  }
}