.support{

  .service{
    padding-bottom: 9.2rem;


    &_row{

      h1{
        margin-top: 3.8rem;
        color: #000;
        font-family: $base-ff;
        font-size: 4.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }


      p{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        color: #000;
        font-family: $base-ff;
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }


      span{
        color: #000;
        font-family: $base-ff;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

      }



    }

    &_container{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-top: 2.4rem;
      flex-direction: row;
      gap: 3.8rem;

      &:nth-child(odd){
        flex-direction: row-reverse;
      }

      &-text{
        max-width: 60rem;

        p{
          color: #000;
          font-family: $base-ff;
          font-size: 2.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 0.5rem;
          margin-top: 0;
        }

        ul{
          margin-left: 2rem;
          li{
            color: #000;
            font-family: $base-ff;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            list-style: disc;
          }
        }
      }

      &_img{
        width: 57.2rem;
        height: 34.4rem;
      }
    }
  }






}