.xerox{

  .catalog{
    margin-bottom: rem(71);


    &_container{
      display: flex;
      flex-direction: column;
      gap: rem(34);
    };

    &_row{
      display: flex;
      gap: rem(32);

      &-first{
        max-width: rem(380);
        width: 100%;

        h2{

          color: #000;
          font-family: $base-ff;
          font-size: rem(36);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          margin-top: rem(40);
        }

        .title{
          color: #000;
          font-family: $base-ff;
          font-size: rem(19);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: rem(16);

        }

        .subtitle{
          color: #000;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: rem(2);
        }

        ul{
          margin-left: rem(15);
          margin-top: rem(5);

          li{
            list-style: disc;

            a{
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }

      }

      &-second{

        .breadcrumbs{

          margin-top: rem(45);
          display: flex;
          align-items: center;
          gap: rem(13);

          p{
            color: #C1C1C4;
            font-family: $base-ff;
            font-size: rem(15);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
          }

          img{
            width: rem(16);
            height: rem(16);

          }
        }

        .cards{
          display: flex;
          flex-wrap: wrap;
          gap: rem(10);
          margin-top: rem(37);

          &-element{
            width: rem(238);
            background: #ECECED;
            height: max-content;
            display: flex;
            flex-direction: column;
            padding: rem(10) rem(15) rem(15);
            gap: rem(10);
            transition: all .3s ease-in-out;

            &:hover{
              .img{
                filter: grayscale(0);
              }
            }



            .img{
              width: rem(207);
              height: rem(141);
              border-radius: rem(30);
              filter: grayscale(1);
            }

            .description{


              .name{
                color: #000;
                text-align: center;
                font-family: $base-ff;
                font-size: rem(14);
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: rem(8);
                margin-top: rem(4);
              }

              .cost{

                color: #000;
                text-align: center;
                font-family: $base-ff;
                font-size: rem(20);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }

            }

            .all{
              display: flex;
              padding: rem(16) rem(20);
              justify-content: center;
              align-items: center;
              gap: rem(10);
              border: rem(1) solid #000;
              background: #FFF;
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }

            button{
              display: flex;
              padding: rem(16) rem(20);
              justify-content: center;
              align-items: center;
              gap: rem(10);
              background: #231F20;
              color: #FFF;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

          }
        }
      }
    }

  }
}