<footer>
    <div class="footer_wrapper">
        <div class="footer_row">

            <div href="#" class="footer_row-logo">
                <a href="#">
                    <img src="../../static/img/logo_footer.png" alt="">
                </a>

                <p>@2025</p>
            </div>
            <ul>
                <li>
                    <a href="#" class="footer_row-link">Политика конфиденциальности</a>
                </li>
                <li>
                    <a href="#" class="footer_row-link">Мы в социальных сетях</a>
                </li>
                <li>
                    <a href="#" class="footer_row-link">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</footer>



<script src="../bundle.js"></script>
</body>

</html>