footer{
   background: $black;

  .footer{

    &_wrapper {
      padding: rem(36) rem(202) rem(85);
      display: flex;
      width: 100%;
      align-items: center;


    }


    &_row{
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: rem(120);


      &-logo{
        display: flex;
        align-items: center;
        width: rem(220);
        img{
          width: rem(153);
          height: rem(46);
        }

        p{
          color: #FFF;
          font-family: $base-ff;
          font-size: rem(20);
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }

      &-link{
        color: #FFF;
        font-family: $base-ff;
        font-size: rem(16);
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &:hover{
          opacity: 0.6;
        }
      }

      ul{
        display: flex;
        width: rem(859);
        align-items: center;
        justify-content: space-between;
        li{

        }
      }

    }



  }
}
