header{
  margin-top: rem(32);
  width: 100%;
  .header_wrapper{
    padding: 0 rem(211);
    width: 100%;



  }

  .header{

    &_row{
      width: 100%;
      padding-left: rem(27);

      ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      &-link{
        color: #000;
        font-size: rem(16);
        font-style: normal;
        font-weight: 400;
        line-height: normal;


        &:hover{
          opacity: 0.6;
        }
      }
    }

    &_info{
      display: flex;
      width: 100%;
      margin-top: rem(5);
      align-items: center;

      &-logo{
        img{
          width: rem(334);
          height: rem(96);
        }
      }

      &-search{
        border: rem(1) solid #8D8B8B;
        padding: rem(10) rem(11) rem(13);
        width: rem(308);
        font-family: $base-ff;
        font-size: rem(14);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: rem(22);
      }

      ul{
        display: flex;
        align-items: center;
        //gap: 2.4rem;
        margin-left: rem(27);

        li{
          &:nth-child(2){
            margin-left: rem(24);
          }

          &:nth-child(3){
            margin-left: rem(18);
          }

          &:nth-child(4){
            margin-left: rem(25);
          }
        }
      }

      &-contact{
        display: flex;
        align-items: center;
        color: #050505;
        font-family: $base-ff;
        font-size: rem(18);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        white-space: nowrap;

        img{
          width: rem(17.64);
          height: rem(17.64);
        }

      }

      &-form{
        background: transparent;
        padding: rem(10) rem(35);
        display: flex;
        align-items: center;
        justify-content: center;
        border: rem(1) solid #736D6D;
        color: #393536;
        font-size: rem(16);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        white-space: nowrap;
        margin-left: rem(24);
      }
    }
  }
}